/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

#cover-section {
    position: relative;
    width: 100%;
    height: 100vh;  /* El video y el contenido de portada ocuparán toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro para mejor visibilidad del texto */
}

#video-background {
    width: 100%; /* El video ocupa el 100% del ancho */
    height: auto; /* Mantiene la proporción original del video */
}

.cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
}

.dashboard-container {
    margin-top: 50px;
}
